// RD Navbar Nav
ul.rd-navbar-nav
	li(class=(activeIndex == 1 ? 'active' : ''))
		a(href='./') Home
		// RD Navbar Dropdown
		ul.rd-navbar-dropdown
			li
				a(href='#') Header Settings
				// RD Navbar Dropdown
				ul.rd-navbar-dropdown
					li
						a(href='header-default.html') Default
					li
						a(href='header-minimal.html') Minimal
					li
						a(href='header-centered.html') Centered
			li
				a(href='#') Footer Settings
				// RD Navbar Dropdown
				ul.rd-navbar-dropdown
					li
						a(href='footer-default.html') Default
					li
						a(href='footer-minimal.html') Minimal
					li
						a(href='footer-centered.html') Centered
	li(class=(activeIndex == 2 ? 'active' : ''))
		a(href='#') Idx
		// RD Navbar Dropdown
		ul.rd-navbar-dropdown
			li
				a(href='idx-1.html') Listings Shortcode
			li
				a(href='idx-2.html') Single Shortcode
	li(class=(activeIndex == 3 ? 'active' : ''))
		a(href='#') Pages
		// RD Navbar Dropdown
		ul.rd-navbar-dropdown
			li
				a(href='404.html') 404
			li
				a(href='about.html') About
			li
				a(href='contacts.html') Contacts
			li
				a(href='typography.html') Typography
			li
				a(href='elements.html') Elements
			li
				a(href='faq.html') FAQ
			li
				a(href='pricing.html') Pricing
			li
				a(href='maintenance.html') Maintenance
			li
				a(href='soon.html') Coming soon
	li(class=(activeIndex == 4 ? 'active' : ''))
		a(href='projects.html') Projects
	li(class=(activeIndex == 5 ? 'active' : ''))
		a(href='blog.html') Blog
		// RD Navbar Dropdown
		ul.rd-navbar-dropdown
			li
				a(href='#') Post Formats
				// RD Navbar Dropdown
				ul.rd-navbar-dropdown
					li
						a(href='blog-single-post.html') Image
					li
						a(href='blog-gallery.html') Gallery
					li
						a(href='blog-video.html') Video
					li
						a(href='blog-audio.html') Audio
					li
						a(href='blog-quote.html') Quote
					li
						a(href='blog-link.html') Link
			li
				a(href='#') Blog Layout
				// RD Navbar Dropdown
				ul.rd-navbar-dropdown
					li
						a(href='blog.html') Listing Layout
					li
						a(href='blog-list.html') Listing Layout 2
					li
						a(href='blog-masonry.html') Masonry Layout
					li
						a(href='blog-masonry-3.html') Masonry Layout 3 Cols
					li
						a(href='blog-grid.html') Grid Layout
					li
						a(href='blog-grid-3.html') Grid Layout 3 Cols
			li
				a(href='#') Sidebar Settings
				// RD Navbar Dropdown
				ul.rd-navbar-dropdown
					li
						a(href='sidebar-left.html') Sidebar Left
					li
						a(href='sidebar-right.html') Sidebar Right
					li
						a(href='sidebar-none.html') No Sidebar
	li(class=(activeIndex == 6 ? 'active' : ''))
		a(href='#') PROPERTIES
		// RD Navbar Dropdown
		ul.rd-navbar-dropdown
			li
				a(href='property.html') Property page
			li
				a(href='property-add.html') Add Property
			li
				a(href='agents.html') Agents
			li
				a(href='author.html') Agent page
			li
				a(href='search.html') Search Results