extends  ../_skeleton

block variables
	- var activeIndex = 3

block title
	title About

block page
	include ../mixins/_breadcrumbs
	include ../mixins/_quote

	// Page Header
	header.page-header
		include ../sections/_navigation-default
	// Page Content
	main.page-content
		+breadcrumbs({
			0: {
				"title": "Home",
				"href": "./"
			},
			1: {
				"title": "About"
			}
		})

		section.section-top-70.section-bottom-80
			.shell.text-md-left
				h3 Welcome!
				p.offset-top-30.lead HomePro real estate agency was founded ten years ago, helping thousands of people since then find their dream rental or buy a perfect new home!

				.offset-top-40
					img(src='images/about-01.jpg' width='1354' height='795' alt='').img-responsive.center-block

				.range.offset-top-40
					.cell-md-4
						h3 About us
						p.offset-top-30 We’re very passionate about searching for only the best properties on the market and offering them to our clients. While our agents are working in 50 US states, we also partially cover Canada and northern Mexican states… Our extended team of more than 300 professional, dedicated real estate agents is waiting for a chance to be helpful to your cause, whether it’s a summer rental search in Vermont or a purchase & mortgage of a Nebraskan 3-storey house at the lakeside… So we’re sure that whatever type of property you’re searching for, we’ll be the agency to get it found, checked and offered to you!
					.cell-md-4
						h3 Our team
						p.offset-top-30 We’ve got more than 300 dedicated, professional real estate agents constantly looking for newer, better properties in all the 50 states…
						p.offset-top-15 On average, each of our agents has more than 100 homes successfully sold and more than 500 rented out.
						p.offset-top-15 The best qualities that our clients note they’ve noticed in our agents is their fast pace, trustworthiness, and dedication!
					.cell-md-4
						h3 CEO
						h5.offset-top-30 Brian Skywalker
						p.offset-top-16 As our CEO, Brian has been with us from the head start. He manages all our agents, property listings and the overall engagement of our rent & sell agency across the US. Previously he was a part of FannieMae’s mortgage department, serving as the head of its North Western operations…

					.cell-md-12.offset-top-40
						hr
					.range.text-center.offset-top-40
						.cell-sm-6.cell-md-3
							.counter-wrapper
								// CountTo
								.counter(data-from='0', data-to='5999')
								h6.counter-title Properties Listed

						.cell-sm-6.cell-md-3.offset-top-40.offset-sm-top-0
							.counter-wrapper
								// CountTo
								.counter(data-from='0', data-to='8999')
								h6.counter-title Satisfied Clients

						.cell-sm-6.cell-md-3.offset-top-40.offset-md-top-0
							.counter-wrapper
								// CountTo
								.counter(data-from='0', data-to='7853')
								h6.counter-title Properties Sold

						.cell-sm-6.cell-md-3.offset-top-40.offset-md-top-0
							.counter-wrapper
								// CountTo
								.counter(data-from='0', data-to='3699')
								h6.counter-title Days we are here

					.cell-md-12.offset-top-40
						hr

				.offset-top-40
					h3 Testimonials
					.range.offset-top-20
						.cell-md-6
							+quote-variant-1('','I’ve spent tons of time searching for a not-so-expensive condo in Chicago, but as soon as I hired one of your agents, I was finally able to find it and move in!','Emily Maroon','images/user-02.jpg','97','97')
						.cell-md-6
							+quote-variant-1('','I love how fast-minded your real estate agents are! I was in a real hurry to buy a new home in Florida, where I’ve been promoted to at my work… Your real estate agents helped it happen in the shortest time frame!','Mary Whitaker','images/user-03.jpg','97','97')

	// Page Footer
	include ../sections/_footer-default