extends  ../_skeleton

block variables
	- var activeIndex = 6

block title
	title Agents Listing

block page
	include ../mixins/_breadcrumbs

	// Page Header
	header.page-header
		include ../sections/_navigation-default

	// Page Content
	main.page-content
		+breadcrumbs({
			0: {
				"title": "Home",
				"href": "./"
			},
			1: {
				"title": "Agents Listing"
			}
		})

		section.section-top-70.section-bottom-80
			.shell.text-md-left.product
				.range
					.cell-md-8.text-center
						h3 Agents Listing

						.range.text-md-left.offset-top-30
							.cell-sm-6
								a(href='author.html').reveal-inline-block
									img(src='images/user-01.jpg' width='301' height='301' alt='').img-responsive.center-block
								h5.offset-top-10
									a(href='author.html').text-base Emilia Warren
								p.offset-top-16 Hello! My name is Emilia Warren and I'm a full-time…
								div
									span.text-middle.icon.inset-right-10.text-primary.fa-phone
									a(href='callto:#').text-middle.text-base 800-2345-6789
								div.offset-top-0
									span.text-middle.icon.inset-right-10.text-primary.fa-phone
									a(href='callto:#').text-middle.text-base 800-2345-6789
								ul.list-inline.offset-top-20
									li
										a(href='#').icon.icon-sm.text-gray.fa-facebook
									li
										a(href='#').icon.icon-sm.text-gray.fa-twitter
									li
										a(href='#').icon.icon-sm.text-gray.fa-google-plus
								.offset-top-25
									a(href='author.html').btn.btn-primary read more
							.cell-sm-6
								a(href='author.html').reveal-inline-block
									img(src='images/user-05.jpg' width='301' height='301' alt='').img-responsive.center-block
								h5.offset-top-10
									a(href='author.html').text-base Warren Kalhoney
								p.offset-top-16 I work with Chicago, MI and OH real estate markets.…
								div
									span.text-middle.icon.inset-right-10.text-primary.fa-phone
									a(href='callto:#').text-middle.text-base 800-2345-6789
								div.offset-top-0
									span.text-middle.icon.inset-right-10.text-primary.fa-phone
									a(href='callto:#').text-middle.text-base 800-2345-6789
								ul.list-inline.offset-top-20
									li
										a(href='#').icon.icon-sm.text-gray.fa-facebook
									li
										a(href='#').icon.icon-sm.text-gray.fa-twitter
									li
										a(href='#').icon.icon-sm.text-gray.fa-google-plus
								.offset-top-25
									a(href='author.html').btn.btn-primary read more
							.cell-sm-12.offset-top-50.veil.reveal-sm-block
								hr
							.cell-sm-6.offset-top-50
								a(href='author.html').reveal-inline-block
									img(src='images/user-06.jpg' width='301' height='301' alt='').img-responsive.center-block
								h5.offset-top-10
									a(href='author.html').text-base Timothy Levine
								p.offset-top-16 I work mainly with the West coast properties, located in…
								div
									span.text-middle.icon.inset-right-10.text-primary.fa-phone
									a(href='callto:#').text-middle.text-base 800-2345-6789
								div.offset-top-0
									span.text-middle.icon.inset-right-10.text-primary.fa-phone
									a(href='callto:#').text-middle.text-base 800-2345-6789
								ul.list-inline.offset-top-20
									li
										a(href='#').icon.icon-sm.text-gray.fa-facebook
									li
										a(href='#').icon.icon-sm.text-gray.fa-twitter
									li
										a(href='#').icon.icon-sm.text-gray.fa-google-plus
								.offset-top-25
									a(href='author.html').btn.btn-primary read more
							.cell-sm-6.offset-top-50
								a(href='author.html').reveal-inline-block
									img(src='images/user-07.jpg' width='301' height='301' alt='').img-responsive.center-block
								h5.offset-top-10
									a(href='author.html').text-base Stacy Goldwein
								p.offset-top-16 I specialize in properties ranging from townhouses to offices in…
								div
									span.text-middle.icon.inset-right-10.text-primary.fa-phone
									a(href='callto:#').text-middle.text-base 800-2345-6789
								div.offset-top-0
									span.text-middle.icon.inset-right-10.text-primary.fa-phone
									a(href='callto:#').text-middle.text-base 800-2345-6789
								ul.list-inline.offset-top-20
									li
										a(href='#').icon.icon-sm.text-gray.fa-facebook
									li
										a(href='#').icon.icon-sm.text-gray.fa-twitter
									li
										a(href='#').icon.icon-sm.text-gray.fa-google-plus
								.offset-top-25
									a(href='author.html').btn.btn-primary read more

					.cell-md-4
						include ../sections/_sidebar

	// Page Footer
	include ../sections/_footer-default



