extends  ../_skeleton

block variables
	- var activeIndex = 5

block title
	title Blog link post

block page
	include ../mixins/_breadcrumbs

	// Page Header
	header.page-header
		include ../sections/_navigation-default

	// Page Content
	main.page-content
		+breadcrumbs({
			0: {
				"title": "Home",
				"href": "./"
			},
			1: {
				"title": "Cottage with a big pool in Phoenix suburbs, AZ"
			}
		})

		section.section-top-70.section-bottom-80
			.shell.text-md-left.product
				.range
					.cell-md-8
						div
							a(href='#').label.label-primary APARTMENT
						h2.offset-top-50 Cottage with a big pool in Phoenix suburbs, AZ
						p.small.offset-top-16
							a(href='#') Emilia Warren
							=' - '
							a(href='#').text-gray May 23, 2016
							span.inset-left-10.reveal-inline-block
								span.icon.mdi.mdi-comment-outline.text-primary.text-middle.inset-right-5
								a(href='#comments').text-gray 0 comments

							span.inset-left-10
								=' Tags: '
							span.inset-left-5
								a(href='blog.html') Apartments
							span.inset-left-10
								a(href='blog.html') Office

						img(src="images/post-27.jpg", width="886", height="520", alt="").offset-top-20.img-responsive
						.post-blog-link
							a(href='http://templatemonster.com') http://templatemonster.com

						p.offset-top-40.text-bold.text-base Think you have a “photogenic side” for camera? So does your home!


						p.offset-top-20 A picture is usually much more efficient, but in the case of your home’s listing photos, pictures can be thousands of dollars more efficient. It plainly makes sense: buyers often begin their search by surfing through online listings, and if the listing images are blurry or too dark, it’s a lot easier to mark a home off your must-see-in-person list. All in favor of the listings that simply look better on an image.

						.offset-top-16
							a(href='http://templatemonster.com') http://templatemonster.com

						p.offset-top-16 If you’re taking your photos by yourself, a nice quality camera will do it for starters…  But you also need to know what potential customers are looking for when they inspect homes online. “Taking photographs is one of the most serious steps in the whole selling process,” says Mary Dimario, real estate agent and a president of MER Properties based in MA.

						p.text-bold So you’d better listen to these real estate agents’ top recommendations for capturing your home’s most beautiful qualities in a real estate photography.

						img(src='images/post-28.jpg' width='886' height='520' alt='').img-responsive.center-block.offset-top-40

						p.text-bold.text-base.offset-top-40 1. Declutter and make a central stage

						p Just as you wouldn’t want your visitors or friends to see your home in a mess, you definitely don’t want prospective clients to know what exact brand of cereal you buy or to spot an old stack of some magazines in the corner of the room. This is where staging comes up.  “Spend time on the details: clean up the bookshelves, tidy up desks, and for a time being get rid of rugs or pieces of furniture that will block the view in your photos,” says Mike Becker of Coldbin Banker in Chicago, IL. “Walk through the the areas where you will photograph each room: What does distract the view there? Remove it to get the best shots of the spacious areas….”

						p.text-bold.text-base.offset-top-20 2. Arrange the pictures in a meaningful way

						p When buyers bump into your online listing, you have only few seconds to get a hold on their attention…  Chaotically ordered photos can be distracting. Arrange your photos like an organized virtual tour of your home. First, welcome them through the front door and through the first floor before showing them the other parts of your place. This will help the prospective customer to get a better sense of the house layout and feel. “Less is sometimes more,” says Patrick McStephensons, a real estate agent with Douglas Ellan in Sag Harbor, NY. “Listing photos must welcome you into a listing. Don’t make the mistake of trying to completely over-sell it online.”
						p.text-bold.text-base.offset-top-20 3. Make choice parts of your home vocal

						p While you may like your three freshly painted bathrooms, make sure to photograph the spaces you think will be a trigger a potential buyer and keep out all the rest. For example, if you have an amazing spa bathroom, use an image of that to put viewers in a relaxed mindset, as opposed to daunting and boring them with several images of similar rooms or areas…
						p.text-bold.text-base.offset-top-20 4. Don’t take unrealistic photos

						p Honesty is always the best policy, especially when it comes to listing photos. “People want the photos to be truly representative of the house, so people come and they either see exactly what they expected they’d see or they comment that the house looks better in life than it does in the photos,” says Albert Bigelow, real estate agent with Kennon Williams Realty Larchmont in Los Angeles, CA. Use those fancy experimental new lenses for your next art project, and be sure to shoot rooms from the corner instead of straight on.
						p.text-bold.text-base.offset-top-20 5. Show off architectural detailing

						p The time now is ripe to  brag about the crown molding, coffered ceiling, and a large bay window you’ve always been proud about in your home… Potential buyers are always  attracted by interesting architectural details that add to the value of the property (not to mention the home’s character), so show them off in the listing photos!
						p.text-bold.text-base.offset-top-20 6. Exclude the street from exterior images

						p Just as when you’re taking indoor photos, you want to create the perfect vignette of the outside of your home. Superimposing too much street can make the image feel cold. “Preparation is the key element in achieving great listing photos,” says Carrie Bells, a real estate agent with Coladier in Aspen, CO. “Detect the right time of day or evening for each shot.” If you have beautiful outdoor lighting, so don’t miss taking images at dusk. This can give potential buyers a much better image of the property and landscaping.
						p.text-bold.text-base.offset-top-20 7. Avoid blurry images

						p This sounds obvious, but every little details matters. Consider investing in a tripod or a steadicam to get your camera not shaking. That will allow you to get the best shot of the room. Check each image after a shot to be sure you got at least one or two crystal-clear images.
						p.text-bold.text-base.offset-top-20 8. Do drone, aerial photos

						p Really want to make a great impression? Show off your home and acreage from above. Jim Hooks of Realty Two Group in Las Vegas, NV, suggests trying drone photography from the above! So if your neighborhood or homeowners’ association allows it, do it!  “The ‘wow’ factor alone is usually worth the cost,” he says.

						ul.list-inline.offset-top-30
							li
								a(href='#').icon.icon-sm.text-primary.fa-facebook
							li
								a(href='#').icon.icon-sm.text-primary.fa-twitter
							li
								a(href='#').icon.icon-sm.text-primary.fa-google-plus
							li
								a(href='#').icon.icon-sm.text-primary.fa-linkedin
							li
								a(href='#').icon.icon-sm.text-primary.fa-pinterest

						hr

						.unit.unit-md-horizontal.unit-lg-horizontal
							.unit-left
								img(src='images/user-04.jpg' width='139' height='139' alt='').img-responsive.center-block
							.unit-body
								h5 Written by Emilia Warren
								p.offset-top-10.offset-md-top-30 Hello! My name is Emilia Warren and I'm a full-time licensed real estate agent and I’ve been helping my clients achieve the "American Dream" since 1990.

						hr

						.row
							.col-xs-6.text-left
								a(href='#').btn.btn-primary.btn-icon.btn-icon.btn-icon-left
									span.icon.fa-angle-left
									span.text.text-regular.veil.reveal-xs-inline PREV POST
							.col-xs-6.text-right
								a(href='#').btn.btn-primary.btn-icon.btn-icon.btn-icon-right
									span.text.text-regular.veil.reveal-xs-inline PREV POST
									span.icon.fa-angle-right

						hr

						h3.offset-top-70 Leave a Reply

						p.offset-top-30 Your email address will not be published. Required fields are marked
							span.text-primary=' *'

						// RD Mailform
						form.offset-top-20.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
							.range
								.cell-lg-2.text-lg-nowrap
									p.text-base Your comment
										span.text-primary *
								.cell-lg-10.offset-top-7.offset-lg-top-0
									.form-group
										label.form-label(for="contact-message") Enter your comment
										textarea#contact-message.form-control(name="message" data-constraints="@Required")
							.range.range-xs-middle.offset-top-20
								.cell-lg-2
									p.text-base Your name
										span.text-primary *
								.cell-lg-10.offset-top-7.offset-lg-top-0
									.form-group
										label.form-label(for="contact-name") Enter name
										input#contact-name.form-control(type="text" name="name" data-constraints='@Required')
							.range.range-xs-middle.offset-top-20
								.cell-lg-2
									p.text-base Your e-mail
										span.text-primary *
								.cell-lg-10.offset-top-7.offset-lg-top-0
									.form-group
										label.form-label(for="contact-email") Enter e-mail
										input#contact-email.form-control(type="email" name="email" data-constraints="@Email @Required")

							.range.range-xs-middle.offset-top-20
								.cell-lg-2
									p.text-base Your url
								.cell-lg-10.offset-top-7.offset-lg-top-0
									.form-group
										label.form-label(for="contact-url") Enter your website address
										input#contact-url.form-control(type="text" name="url")
							.range.offset-top-20.text-center.text-sm-left
								.cell-lg-5.cell-lg-preffix-2
									button(type="submit").btn.btn-primary Submit

					.cell-md-4
						include ../sections/_sidebar

	// Page Footer
	include ../sections/_footer-default



