extends  ../_skeleton

block variables
	- var activeIndex = 1

block title
	title Header default

block page

	// Page Header
	header.page-header.bg-image-01
		include ../sections/_navigation-default-2
		include ../sections/_index-hero

	include ../sections/_index-content

	// Page Footer
	include ../sections/_footer-default