extends  ../_skeleton

block variables
	- var activeIndex = 6

block title
	title Add Property

block page
	include ../mixins/_breadcrumbs

	// Page Header
	header.page-header
		include ../sections/_navigation-default

	// Page Content
	main.page-content
		+breadcrumbs({
			0: {
				"title": "Home",
				"href": "./"
			},
			1: {
				"title": "Add Property"
			}
		})

		section.section-top-70.section-bottom-80
			.shell.text-md-left.product
				.range
					.cell-md-8
						p='Please '
							a(href='#' data-toggle="modal" data-target="#loginModal") login
							=' or '
							a(href='#' data-toggle="modal" data-target="#registerModal") register
							=' to create a new listing'

						// RD Mailform
						form.offset-top-40.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
							.range.range-xs-middle
								.cell-lg-2
									p.text-base.text-sbold Title
								.cell-lg-10.offset-top-7.offset-lg-top-0
									.form-group
										label.form-label(for="title") Enter property title
										input#title.form-control(type="text" name="name" data-constraints='@Required')
							.range.offset-top-20
								.cell-lg-2.text-lg-nowrap
									p.text-base.text-sbold Description
								.cell-lg-10.offset-top-7.offset-lg-top-0
									.form-group
										textarea#contact-message.form-control(name="message" data-constraints="@Required")
							.range.range-xs-middle.offset-top-20
								.cell-lg-2
									p.text-base.text-sbold Price, $
								.cell-lg-10.offset-top-7.offset-lg-top-0
									.form-group
										label.form-label(for="price") Enter price
										input#price.form-control(type="text" name="name" data-constraints='@Required @Numeric')

							.range.range-xs-middle.offset-top-20
								.cell-lg-2
									p.text-base.text-sbold Status
								.cell-lg-10.offset-top-7.offset-lg-top-0
									//Select 2
									select.form-control.select-filter(data-placeholder="Choose", data-minimum-results-for-search="Infinity", data-constraints="@Required")
										option(value="3") Rent
										option(value="4") Sale

							.range.range-xs-middle.offset-top-20
								.cell-lg-2
									p.text-base.text-sbold Type
								.cell-lg-10.offset-top-7.offset-lg-top-0
									//Select 2
									select.form-control.select-filter(data-placeholder="Choose", data-minimum-results-for-search="Infinity", data-constraints="@Required")
										option(value="3") Building
										option(value="4") Office

							.range.range-xs-middle.offset-top-20
								.cell-lg-2
									p.text-base.text-sbold Bedrooms
								.cell-lg-10.offset-top-7.offset-lg-top-0
									.form-group
										label.form-label(for="bedrooms") Enter number of bedrooms
										input#bedrooms.form-control(type="text" name="name" data-constraints='@Required @Numeric ')

							.range.range-xs-middle.offset-top-20
								.cell-lg-2
									p.text-base.text-sbold Bathrooms
								.cell-lg-10.offset-top-7.offset-lg-top-0
									.form-group
										label.form-label(for="bathrooms") Enter number of bathrooms
										input#bathrooms.form-control(type="text" name="url" data-constraints="@Required @Numeric ")

							.range.range-xs-middle.offset-top-20
								.cell-lg-2.text-lg-nowrap
									p.text-base.text-sbold Area Size, m²
								.cell-lg-10.offset-top-7.offset-lg-top-0
									.form-group
										label.form-label(for="size") Enter property area size
										input#size.form-control(type="text" name="url" data-constraints="@Required @Numeric ")

							.range.range-xs-middle.offset-top-20
								.cell-lg-2.text-lg-nowrap
									p.text-base.text-sbold Parking places
								.cell-lg-10.offset-top-7.offset-lg-top-0
									.form-group
										label.form-label(for="parking") Enter number of parking places
										input#parking.form-control(type="text" name="url" data-constraints="@Required @Numeric ")

							.range.range-xs-middle.offset-top-20
								.cell-lg-2.text-lg-nowrap
									p.text-base.text-sbold Address
								.cell-lg-10.offset-top-7.offset-lg-top-0
									.form-group
										label.form-label(for="address") Enter property address
										input#address.form-control(type="text" name="url" data-constraints="@Required")

							.range.offset-top-10.text-center.text-sm-left
								.cell-lg-8.cell-lg-preffix-2
									p.offset-top-10='Please '
										a(href='#' data-toggle="modal" data-target="#loginModal") login
										=' or '
										a(href='#' data-toggle="modal" data-target="#registerModal") register
										=' to create a new listing'
							.range.offset-top-30.text-center.text-sm-left
								.cell-lg-5.cell-lg-preffix-2
									button(type="submit" disabled).btn.btn-primary Submit

					.cell-md-4
						include ../sections/_sidebar

	// Page Footer
	include ../sections/_footer-default



