extends  ../_skeleton

block variables
	- var activeIndex = 6

block title
	title Hunting mansion in Kentucky

block page
	include ../mixins/_pagination
	include ../mixins/_breadcrumbs
	include ../mixins/_product

	// Page Header
	header.page-header
		include ../sections/_navigation-default

	// Page Content
	main.page-content
		+breadcrumbs({
			0: {
				"title": "Home",
				"href": "./"
			},
			1: {
				"title": "Hunting mansion in Kentucky"
			}
		})

		section.section-top-70.section-bottom-80
			.shell.text-md-left
				.range
					.cell-md-8

						h2 Hunting mansion in Kentucky

						.offset-top-40
							// Slick Carousel
							.slick-slider.carousel-parent(data-arrows="true", data-loop="false", data-dots="false", data-swipe="true", data-items="1" data-child="#child-carousel", data-for="#child-carousel")
								.item
									img(src='images/post-10.jpg', alt='', width='886', height='670').img-responsive
								.item
									img(src='images/post-11.jpg', alt='', width='886', height='670').img-responsive
								.item
									img(src='images/post-12.jpg', alt='', width='886', height='670').img-responsive
								.item
									img(src='images/post-13.jpg', alt='', width='886', height='670').img-responsive
								.item
									img(src='images/post-14.jpg', alt='', width='886', height='670').img-responsive
								.item
									img(src='images/post-15.jpg', alt='', width='886', height='670').img-responsive
								.item
									img(src='images/post-16.jpg', alt='', width='886', height='670').img-responsive
								.item
									img(src='images/post-17.jpg', alt='', width='886', height='670').img-responsive

							.slick-slider.slick-child#child-carousel(data-for=".carousel-parent", data-arrows="false",
							data-loop="false", data-dots="false", data-swipe="true",
							data-items="3", data-xs-items="3", data-sm-items="4",
							data-md-items="5", data-lg-items="6", data-slide-to-scroll="1")
								.item
									img(src='images/post-10.jpg', alt='', width='140', height='105')
								.item
									img(src='images/post-11.jpg', alt='', width='140', height='105')
								.item
									img(src='images/post-12.jpg', alt='', width='140', height='105')
								.item
									img(src='images/post-13.jpg', alt='', width='140', height='105')
								.item
									img(src='images/post-14.jpg', alt='', width='140', height='105')
								.item
									img(src='images/post-15.jpg', alt='', width='140', height='105')
								.item
									img(src='images/post-16.jpg', alt='', width='140', height='105')
								.item
									img(src='images/post-17.jpg', alt='', width='140', height='105')

						h3.offset-top-40 Price:
							span.text-base=' $1,200.00'

						hr

						h3.offset-top-40 Property Description
						p.offset-top-20 Enjoy a refreshing time amidst the monumental Appalachian mountains, in a townhouse that will host the most luxurious holiday for you and your family!

						hr

						h3 Quick Summary

						dl.list-terms-variant-1.text-left
							dt Property ID:
							dd 813

							dt Property status:
							dd Sale

							dt Property type:
							dd
								a(href='#') Building

							dt Location:
							dd 2001-2099 Saint Charles Street, St. Louis, MO 63103, USA

							dt Bedrooms:
							dd 3

							dt Bathrooms:
							dd 2

							dt Area:
							dd 120.00 m²

							dt Parking place:
							dd 2

							dt Property Features:
							dd
								p
									a(href='#') Air conditioning
								p
									a(href='#') Balcony
								p
									a(href='#') Bedding
								p
									a(href='#') Coffee pot
								p
									a(href='#') Microwave
								p
									a(href='#') Outdoor Kitchen
								p
									a(href='#') Roof terrace
								p
									a(href='#') Terrace

						hr

						h3 Map

						// RD Google Map
						.offset-top-40.rd-google-map(class="rd-google-map__model", data-zoom='14', data-x='-73.9874068', data-y='40.643180', data-styles='[{"featureType":"landscape","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#00FF6A"},{"saturation":-1.0989010989011234},{"lightness":11.200000000000017},{"gamma":1}]}]')
							ul.map_locations
								li(data-y='40.643180', data-x='-73.9874068')
									p
										| 9870 St Vincent Place, Glasgow, DC 45 Fr 45.

						hr

						h3 Contact Agent

						.offset-top-40.unit.unit-lg-horizontal
							.unit-left
								a(href='#').reveal-inline-block
									img(src='images/user-01.jpg' width='301' height='301' alt='').img-responsive.center-block
							.unit-body
								h5
									a(href='#').text-base Emilia Warren
								p.offset-top-20 Hello! My name is Emilia Warren and I'm a full-time licensed real estate agent and I’ve been helping my clients achieve the "American Dream" since 1990. I’ve been working at this same agency for over 15 years! You can always reach me directly via the phone number I have have posted below.
								div.offset-top-20
									span.text-middle.icon.inset-right-10.text-primary.fa-phone
									a(href='callto:#').text-middle.text-base 800-2345-6789
								div.offset-top-0
									span.text-middle.icon.inset-right-10.text-primary.fa-phone
									a(href='callto:#').text-middle.text-base 800-2345-6789
								ul.list-inline.offset-top-20
									li
										a(href='#').icon.icon-sm.text-primary.fa-facebook
									li
										a(href='#').icon.icon-sm.text-primary.fa-twitter
									li
										a(href='#').icon.icon-sm.text-primary.fa-google-plus


					.cell-md-4
						.range.range-xs-center
							.cell-md-12.cell-sm-10
								.well.well-rudo
									h3 Search for properties:
									form.offset-top-30.text-left(method='post')
										.form-group
											label.form-label-static.form-label-outside Keyword
											input.form-control(type="text" name="keyword" placeholder='Any' data-constraints="@Required")

										.form-group
											label.form-label-static.form-label-outside Property status
											//Select 2
											select.form-control.select-filter(data-placeholder="Select an option", data-minimum-results-for-search="Infinity", data-constraints="@Required")
												option(value="2") Any
												option(value="3") Rent
												option(value="4") Sale
										.form-group
											label.form-label-static.form-label-outside Property type
											//Select 2
											select.form-control.select-filter(data-placeholder="Select an option", data-minimum-results-for-search="Infinity", data-constraints="@Required")
												option(value="2") Any
												option(value="3") Building
												option(value="4") Office

										.form-group
											label.form-label-static.form-label-outside Location
											input.form-control(type="text" name="location" placeholder='Any' data-constraints="@Required")

										#goal.well-toggle.offset-top-10
											label.form-label-static.form-label-outside Price
											.range-sm.range.offset-top-0
												.cell-xs-6
													input.form-control(type="number" data-zeros="true" min="1" value="1")
												.cell-xs-6.offset-top-10.offset-xs-top-0
													input.form-control(type="number" data-zeros="true" min="1" value="1")

											.offset-top-10
												label.form-label-static.form-label-outside Bedrooms
												.range-sm.range.offset-top-0
													.cell-xs-6
														input.form-control(type="number" data-zeros="true" min="1" value="1")
													.cell-xs-6.offset-top-10.offset-xs-top-0
														input.form-control(type="number" data-zeros="true" min="1" value="1")

											.offset-top-10
												label.form-label-static.form-label-outside Bathrooms
												.range-sm.range.offset-top-0
													.cell-xs-6
														input.form-control(type="number" data-zeros="true" min="1" value="1")
													.cell-xs-6.offset-top-10.offset-xs-top-0
														input.form-control(type="number" data-zeros="true" min="1" value="1")

											.offset-top-10
												label.form-label-static.form-label-outside Area
												.range-sm.range.offset-top-0
													.cell-xs-6
														input.form-control(type="number" data-zeros="true" min="1" value="1")
													.cell-xs-6.offset-top-10.offset-xs-top-0
														input.form-control(type="number" data-zeros="true" min="1" value="1")

											.offset-top-10
												label.form-label-static.form-label-outside Parking spots
												.range-sm.range.offset-top-0
													.cell-xs-6
														input.form-control(type="number" data-zeros="true" min="0" value="0")
													.cell-xs-6.offset-top-10.offset-xs-top-0
														input.form-control(type="number" data-zeros="true" min="1" value="1")

										.offset-top-10
											button.btn.btn-block.btn-primary(data-custom-toggle='#goal') more

										.offset-top-10
											button.btn.btn-block.btn-primary search

							.cell-md-12.cell-sm-10.offset-top-40
								hr
								h3 Last Properties

								.text-xs-left.unit.unit-xs-horizontal.unit-sm-horizontal.unit-md-vertical.unit-lg-horizontal.offset-top-40
									.unit-left
										a(href='#').reveal-inline-block
											img(src='images/post-29.jpg' width='139' height='139' alt='').img-responsive.center-block
									.unit-body
										h6
											a(href='property.html').text-base A beach house at Baja California peninsula
										p.text-primary.text-sbold $1,342.00
										p.offset-top-20 Enjoy a refreshing time amidst the monumental Appalachian mountains, in a townhouse that will host…
										.unit.unit-horizontal.unit-spacing-xs.reveal-inline-flex.text-left
											.unit-left
												span.icon.mdi.mdi-map-marker.text-primary
											.unit-body
												.small 218 Front Street, Brooklyn, NY 11201, USA
										a(href='property.html').offset-top-16.btn.btn-primary read more

								.text-xs-left.unit.unit-xs-horizontal.unit-sm-horizontal.unit-md-vertical.unit-lg-horizontal.offset-top-30
									.unit-left
										a(href='#').reveal-inline-block
											img(src='images/post-30.jpg' width='139' height='139' alt='').img-responsive.center-block
									.unit-body
										h6
											a(href='property.html').text-base Hunting mansion in Kentucky
										p.text-primary.text-sbold $1,200.00
										p.offset-top-20 Enjoy a refreshing time amidst the monumental Appalachian mountains, in a townhouse that will host…
										.unit.unit-horizontal.unit-spacing-xs.reveal-inline-flex.text-left
											.unit-left
												span.icon.mdi.mdi-map-marker.text-primary
											.unit-body
												.small 2001-2099 Saint Charles Street, St. Louis, MO 63103, USA
										a(href='property.html').offset-top-16.btn.btn-primary read more

								.text-xs-left.unit.unit-xs-horizontal.unit-sm-horizontal.unit-md-vertical.unit-lg-horizontal.offset-top-30
									.unit-left
										a(href='#').reveal-inline-block
											img(src='images/post-31.jpg' width='139' height='139' alt='').img-responsive.center-block
									.unit-body
										h6
											a(href='property.html').text-base Erie Lakeside house, MI
										p.text-primary.text-sbold $3,400.00
										p.offset-top-20 Enjoy a refreshing time amidst the monumental Appalachian mountains, in a townhouse that will host…
										.unit.unit-horizontal.unit-spacing-xs.reveal-inline-flex.text-left
											.unit-left
												span.icon.mdi.mdi-map-marker.text-primary
											.unit-body
												.small Northeast Ohio Sustainable Communities Consortium, 1299 Superior Avenue, Cleveland, OH 44114, USA
										a(href='property.html').offset-top-16.btn.btn-primary read more


	// Page Footer
	include ../sections/_footer-default



