extends  ../_skeleton

block variables
  - var activeIndex = 0

block title
  title Search results

block page
  // Page Header
  include ../sections/_navigation-default

  // Page Content
  main.page-content
    section.section-80
      .shell.text-md-left
        h3 Search results

        .offset-top-40.rd-search-results.text-left

  // Page Footer
  include ../sections/_footer-default