extends  ../_skeleton

block variables
	- var activeIndex = 5

block title
	title Sidebar none

block page
	include ../mixins/_breadcrumbs
	include ../mixins/_posts
	include ../mixins/_pagination

	// Page Header
	header.page-header
		include ../sections/_navigation-default

	// Page Content
	main.page-content
		+breadcrumbs({
			0: {
				"title": "Home",
				"href": "./"
			},
			1: {
				"title": "Blog"
			}
		})

		section.section-top-70.section-bottom-80
			.shell.text-md-left
				.range
					.cell-md-4
						+post-blog-masonry('A beach house at Baja California peninsula','Emilia Warren','July 7, 2016','Think you have a “photogenic side” for camera? So does your home! A picture is usually much more efficient, but in the case of your home’s listing photos, pictures can…','0 comments','Apartments','Office')
							.thumbnail-variant-1
								a(href='blog-single-post.html')
									img(src='images/post-18.jpg' width='418' height='316' alt='').img-responsive.center-block
								.caption
									a(href='blog.html').label.label-primary APARTMENT

						+post-blog-masonry('Penthouse in Chicago, 99th floor','Emilia Warren','July 7, 2016','Think you have a “photogenic side” for camera? So does your home! A picture is usually much more efficient, but in the case of your home’s listing photos, pictures can…','0 comments','Apartments','Office')
							.thumbnail-variant-1
								a(href='blog-single-post.html')
									img(src='images/post-21.jpg' width='418' height='316' alt='').img-responsive.center-block
								.caption
									a(href='blog.html').label.label-primary APARTMENT

					.cell-md-4

						+post-blog-masonry('Cottage with a big pool in Phoenix suburbs, AZ','Emilia Warren','July 7, 2016','Think you have a “photogenic side” for camera? So does your home! A picture is usually much more efficient, but in the case of your home’s listing photos, pictures can…','0 comments','Apartments','Office')
							.thumbnail-variant-1
								a(href='blog-single-post.html')
									img(src='images/post-26.jpg' width='418' height='316' alt='').img-responsive.center-block
								.caption
									a(href='blog.html').label.label-primary APARTMENT

						+post-blog-masonry('Gallery - Cottage with a big pool in Phoenix suburbs, AZ','Emilia Warren','July 7, 2016','Think you have a “photogenic side” for camera? So does your home! A picture is usually much more efficient, but in the case of your home’s listing photos, pictures can…','0 comments','Apartments','Office','blog-gallery.html')
							.thumbnail-variant-1
								a(href='blog-single-post.html')
									img(src='images/post-19.jpg' width='418' height='316' alt='').img-responsive.center-block
								.caption
									a(href='blog.html').label.label-primary APARTMENT

					.cell-md-4

						+post-blog-masonry('A beach house at Baja California peninsula','Emilia Warren','July 7, 2016','Think you have a “photogenic side” for camera? So does your home! A picture is usually much more efficient, but in the case of your home’s listing photos, pictures can…','0 comments','Apartments','Office')
							.thumbnail-variant-1
								a(href='blog-single-post.html')
									img(src='images/post-20.jpg' width='418' height='316' alt='').img-responsive.center-block
								.caption
									a(href='blog.html').label.label-primary APARTMENT

						+post-blog-masonry('Standard - Cottage with a big pool in Phoenix suburbs, AZ','Emilia Warren','July 7, 2016','Think you have a “photogenic side” for camera? So does your home! A picture is usually much more efficient, but in the case of your home’s listing photos, pictures can…','0 comments','Apartments','Office')
							.thumbnail-variant-1
								a(href='blog-single-post.html')
									img(src='images/post-22.jpg' width='418' height='316' alt='').img-responsive.center-block
								.caption
									a(href='blog.html').label.label-primary APARTMENT

				.offset-top-30.offset-md-top-70
					hr.veil.reveal-md-block
					+pagination-bootstrap("pagination", 1, 2)

	// Page Footer
	include ../sections/_footer-default



