extends  ../_skeleton

block variables
	- var activeIndex = 5

block title
	title Sidebar right

block page
	include ../mixins/_breadcrumbs
	include ../mixins/_posts
	include ../mixins/_pagination

	// Page Header
	header.page-header
		include ../sections/_navigation-default

	// Page Content
	main.page-content
		+breadcrumbs({
			0: {
				"title": "Home",
				"href": "./"
			},
			1: {
				"title": "Blog"
			}
		})

		section.section-top-70.section-bottom-80
			.shell.text-md-left
				.range
					.cell-md-8
						+post-blog-type-1('A beach house at Baja California peninsula','Emilia Warren','July 7, 2016','Think you have a “photogenic side” for camera? So does your home! A picture is usually much more efficient, but in the case of your home’s listing photos, pictures can…','0 comments','Apartments','Office')
							.thumbnail-variant-1
								a(href='blog-single-post.html')
									img(src='images/post-18.jpg' width='418' height='316' alt='').img-responsive.center-block
								.caption
									a(href='blog.html').label.label-primary APARTMENT


						+post-blog-type-1('Cottage with a big pool in Phoenix suburbs, AZ','Emilia Warren','July 7, 2016','Think you have a “photogenic side” for camera? So does your home! A picture is usually much more efficient, but in the case of your home’s listing photos, pictures can…','0 comments','Apartments','Office')
							.thumbnail-variant-1
								a(href='blog-single-post.html')
									img(src='images/post-19.jpg' width='418' height='316' alt='').img-responsive.center-block
								.caption
									a(href='blog.html').label.label-primary APARTMENT


						+post-blog-type-1('A beach house at Baja California peninsula','Emilia Warren','July 7, 2016','Think you have a “photogenic side” for camera? So does your home! A picture is usually much more efficient, but in the case of your home’s listing photos, pictures can…','0 comments','Apartments','Office')
							.thumbnail-variant-1
								a(href='blog-single-post.html')
									img(src='images/post-20.jpg' width='418' height='316' alt='').img-responsive.center-block
								.caption
									a(href='blog.html').label.label-primary APARTMENT


						+post-blog-type-1('Penthouse in Chicago, 99th floor','Emilia Warren','July 7, 2016','Think you have a “photogenic side” for camera? So does your home! A picture is usually much more efficient, but in the case of your home’s listing photos, pictures can…','0 comments','Apartments','Office')
							.thumbnail-variant-1
								a(href='blog-single-post.html')
									img(src='images/post-21.jpg' width='418' height='316' alt='').img-responsive.center-block
								.caption
									a(href='blog.html').label.label-primary APARTMENT


						+post-blog-type-1('Standard - Cottage with a big pool in Phoenix suburbs, AZ','Emilia Warren','July 7, 2016','Think you have a “photogenic side” for camera? So does your home! A picture is usually much more efficient, but in the case of your home’s listing photos, pictures can…','0 comments','Apartments','Office')
							.thumbnail-variant-1
								a(href='blog-single-post.html')
									img(src='images/post-22.jpg' width='418' height='316' alt='').img-responsive.center-block
								.caption
									a(href='blog.html').label.label-primary APARTMENT


						+post-blog('Gallery - Cottage with a big pool in Phoenix suburbs, AZ','Emilia Warren','July 7, 2016','Think you have a “photogenic side” for camera? So does your home! A picture is usually much more efficient, but in the case of your home’s listing photos, pictures can…','0 comments','Apartments','Office','blog-gallery.html')
							.thumbnail-variant-1.reveal-block
								// Slick Carousel
								.slick-slider(data-photo-swipe-gallery='gallery' data-arrows="true", data-loop="false", data-dots="false", data-swipe="true", data-items="1")
									.item
										a(data-photo-swipe-item='', data-size='886x520', href='images/post-23.jpg', data-author="Michael Hull").thumbnail-variant-2
											img(src='images/post-23.jpg', alt='', width='886', height='520').img-responsive
									.item
										a(data-photo-swipe-item='', data-size='886x520', href='images/post-24.jpg', data-author="Michael Hull").thumbnail-variant-2
											img(src='images/post-24.jpg', alt='', width='886', height='520').img-responsive
									.item
										a(data-photo-swipe-item='', data-size='886x520', href='images/post-25.jpg', data-author="Michael Hull").thumbnail-variant-2
											img(src='images/post-25.jpg', alt='', width='886', height='520').img-responsive
								.caption
									a(href='blog.html').label.label-primary APARTMENT

						.offset-top-30
							+pagination-bootstrap("pagination", 1, 2)

					.cell-md-4
						include ../sections/_sidebar

	// Page Footer
	include ../sections/_footer-default