footer.page-footer
	.shell.section-30
		.range.range-xs-middle
			.cell-sm-6.text-sm-right.cell-sm-push-1
				ul.list-inline
					li
						a(href='#').icon.icon-sm.text-primary.fa-facebook
					li
						a(href='#').icon.icon-sm.text-primary.fa-twitter
					li
						a(href='#').icon.icon-sm.text-primary.fa-google-plus
			.cell-sm-6.text-sm-left.offset-top-20.offset-sm-top-0
				p.small
					| HomePRO &#169;
					span(id="copyright-year")
					| .
					=' '
					a.text-gray(href="privacy.html") Privacy Policy
					block footerLink