footer.page-footer
	.shell.section-70.section-lg-120
		.range.text-md-left
			.cell-md-4
				h5 About
				p.offset-top-20.offset-md-top-36 We’re hunting for the best gems on the American real estate market. With our help you’ll find any house that you want to, be it a humble winter cottage in the state of Maine, a median summer apartment in Austin, TX or a huge residential building along Santa Monica beaches in California...
			.cell-md-4
				h5 Recent posts
				.post-blog-sm.offset-top-20.offset-md-top-36
					a.text-bold(href='blog-single-post.html') A beach house at Baja California peninsula
					p.small.offset-top-7 July 7, 2016
				.post-blog-sm.offset-top-16
					a.text-bold(href='blog-single-post.html') Cottage with a big pool in Phoenix suburbs, AZ
					p.small.offset-top-7 July 7, 2016
			.cell-md-4
				h5 Tags
				ul.offset-top-20.offset-md-top-36.group
					li
						a(href='blog.html').btn.btn-tag Apartments
					li
						a(href='blog.html').btn.btn-tag Office

	.shell
		hr
	.shell.section-30
		.range.range-xs-middle
			.cell-sm-6.text-sm-right.cell-sm-push-1
				ul.list-inline
					li
						a(href='#').icon.icon-sm.text-primary.fa-facebook
					li
						a(href='#').icon.icon-sm.text-primary.fa-twitter
					li
						a(href='#').icon.icon-sm.text-primary.fa-google-plus
			.cell-sm-6.text-sm-left.offset-top-20.offset-sm-top-0
				p.small
					| HomePRO &#169;
					span(id="copyright-year")
					| .
					=' '
					a.text-gray(href="privacy.html") Privacy Policy
					block footerLink