.shell.section-70.section-lg-120.text-md-left
	.range.range-xs-middle
		.cell-lg-7.cell-md-6
			// Owl Carousel
			.context-dark.owl-slider.owl-carousel(data-items='1', data-dots='true' data-margin='30', data-mouse-drag="false")
				.owl-item
					hr.divider.veil.reveal-md-inline-block
					h1 The best way to find your home
					p.offset-top-25 With industry-leading tools and the savviest pros in the business, our mission is to ethically and honestly serve our clients so that they can achieve the dream of home.
				.owl-item
					hr.divider.veil.reveal-md-inline-block
					h1 Find the home of your dreams
					p.offset-top-25 We offer the excellent services for both landlords and tenants with our expert knowledge and personal approach. We guarantee the quality you may expect.
				.owl-item
					hr.divider.veil.reveal-md-inline-block
					h1 Making the Dream of Home Real
					p.offset-top-25 There is nothing more powerful or more important than home. That’s why we help people find the house of their dreams or successfully sell their home.

		.cell-md-5.cell-lg-4.cell-md-preffix-1
			.well.well-base
				h3 Search for properties:
				form.offset-top-30.text-left(method='post')
					.form-group
						label.form-label-static.form-label-outside Keyword
						input.form-control(type="text" name="keyword" placeholder='Any' data-constraints="@Required")

					.form-group
						label.form-label-static.form-label-outside Property status
						//Select 2
						select.form-control.select-filter(data-placeholder="Select an option", data-minimum-results-for-search="Infinity", data-constraints="@Required")
							option(value="2") Any
							option(value="3") Rent
							option(value="4") Sale
					.form-group
						label.form-label-static.form-label-outside Property type
						//Select 2
						select.form-control.select-filter(data-placeholder="Select an option", data-minimum-results-for-search="Infinity", data-constraints="@Required")
							option(value="2") Any
							option(value="3") Building
							option(value="4") Office

					.form-group
						label.form-label-static.form-label-outside Location
						input.form-control(type="text" name="location" placeholder='Any' data-constraints="@Required")

					#goal.well-toggle.offset-top-10
						label.form-label-static.form-label-outside Price
						.range-sm.range.offset-top-0
							.cell-xs-6
								input.form-control(type="number" data-zeros="true" min='1' value="1")
							.cell-xs-6.offset-top-10.offset-xs-top-0
								input.form-control(type="number" data-zeros="true" min='1' value="1")

						.offset-top-10
							label.form-label-static.form-label-outside Bedrooms
							.range-sm.range.offset-top-0
								.cell-xs-6
									input.form-control(type="number" data-zeros="true" min='1' value="1")
								.cell-xs-6.offset-top-10.offset-xs-top-0
									input.form-control(type="number" data-zeros="true" min='1' value="1")

						.offset-top-10
							label.form-label-static.form-label-outside Bathrooms
							.range-sm.range.offset-top-0
								.cell-xs-6
									input.form-control(type="number" data-zeros="true" min='1' value="1")
								.cell-xs-6.offset-top-10.offset-xs-top-0
									input.form-control(type="number" data-zeros="true" min='1' value="1")

						.offset-top-10
							label.form-label-static.form-label-outside Area
							.range-sm.range.offset-top-0
								.cell-xs-6
									input.form-control(type="number" data-zeros="true" min='1' value="1")
								.cell-xs-6.offset-top-10.offset-xs-top-0
									input.form-control(type="number" data-zeros="true" min='1' value="1")

						.offset-top-10
							label.form-label-static.form-label-outside Parking spots
							.range-sm.range.offset-top-0
								.cell-xs-6
									input.form-control(type="number" data-zeros="true" min='0' value="0")
								.cell-xs-6.offset-top-10.offset-xs-top-0
									input.form-control(type="number" data-zeros="true" min='1' value="1")

					.offset-top-10
						button.btn.btn-block.btn-primary(data-custom-toggle='#goal') more

					.offset-top-10
						button.btn.btn-block.btn-primary search
