// RD Navbar
.rd-navbar-wrap
	nav.rd-navbar.rd-navbar-minimal.rd-navbar-transparent(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-md-device-layout='rd-navbar-fixed', data-lg-layout='rd-navbar-static', data-lg-device-layout="rd-navbar-static", data-sm-stick-up-offset="50px", data-md-stick-up-offset="10px",  data-lg-stick-up-offset="150px")
		button.rd-navbar-collapse-toggle(data-rd-navbar-toggle='.rd-navbar-collapse')
			span
		.rd-navbar-top-panel.rd-navbar-collapse
			.rd-navbar-inner
				.small='Please '
					a(href='#' data-toggle="modal" data-target="#loginModal") login
					=' or '
					a(href='#' data-toggle="modal" data-target="#registerModal") register
					=' to create a new listing'

				ul.list-inline
					li
						a(href='#').icon.icon-sm.text-primary.fa-facebook
					li
						a(href='#').icon.icon-sm.text-primary.fa-twitter
					li
						a(href='#').icon.icon-sm.text-primary.fa-google-plus

		.rd-navbar-panel
			// RD Navbar Panel
			.rd-navbar-inner
				// RD Navbar Toggle
				button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap')
					span
				// RD Navbar Brand
				.rd-navbar-brand
					a.brand-name(href='index.html')
						img(src="images/logo.png", width="205", height="27", alt="")

				.rd-navbar-contacts.rd-navbar-collapse.rd-navbar-collapse-2
					span.semi-small Get in touch with us
					div
						span.icon.fa-phone.text-primary
						a(href='callto:#') 800-2345-6789

		.rd-navbar-nav-wrap
			.rd-navbar-inner
				include ../_navigation